:root{
    --vermelho:#E50914;
    --preta:#141414;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: var(--preta);
    font-family: 'Time New Roman', Times, sans-serif;
    color: white;
}

header .logo{
    color: var(--vermelho);
    font-family: 'Arial Black', Times;
    font-size: 40px;
    margin-left: 20px;
    margin-bottom: 10px;

}

header nav a{
    text-decoration: none;
    color: #AAA;
    margin-right: 10px;
    
}

header nav a:hover{

    color: #FFF;
}

header .container{

    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 12px;

}

/*/ sobre o filme principal */

.filme-principal{
    background:linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%), url(/img/capa.jpg);
    height: 480px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

}
.filme-principal .descricao{

    margin-bottom: 40px;
    margin-left: 10px;
    margin-top: 20px;
    max-width: 50%;
}

.titulo{
    font-size: 40px;
    margin-left: 10px;
    margin-top: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.botao{

    background-color: rgba(0,0,0,.50);
    border: none;
    color: white;
    padding:15px 30px;
    cursor: pointer;
    margin-left: 10px;
    transition: .3s;

}
.botao:hover{

    background: #272725;

}
.botao i {
    margin-right: 5px;
}

.box-filme{

    height: 50%;
    width: 100%;
    display: block;
    margin-top: 25px;
}

.genero{

    display: flex;;    
    justify-content: left;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: -10px;
    margin-left: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}




